.form-container {
    background-color: #202020;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    max-width: 500px;
    margin: 4rem auto;
}


.form-container img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.form-container h2 {
    margin: 10px 0 20px;
    font-size: 2rem;
}

.form-container input {
    /* width: calc(50% - 10px); */
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    color: #202020;
    background: #F3F4F6;
    height: 5rem;
}

.form-group-nom-prenom {
    width: calc(100% - 15px);
    /* background: red; */
    display: flex;
    justify-content: space-between;
    
}

.texte-inputs{
    margin-left: 5px;
    margin-bottom: 2px;
    font-size: 1.5rem;
    /* background: red; */
}


.form-container input[type="email"],
.form-container input[type="password"] {
    width: calc(100% - 20px);
}


.form-container button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #555555;
    color: white;
    cursor: pointer;
    height: 5rem;
}

.form-container button:hover {
    background-color: #777777;
}



.form-container small {
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    color: #bbbbbb;
}

.form-container small a {
    color: #0085ff;
    text-decoration: none;
}

.form-container small a:hover {
    text-decoration: underline;
} 
